<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA34KZPywTJ-2Re8NtcLz8rgLCBxlu-n_E</string>
	<key>GCM_SENDER_ID</key>
	<string>243771858170</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutterflow.homeU</string>
	<key>PROJECT_ID</key>
	<string>mark1-18e1b</string>
	<key>STORAGE_BUCKET</key>
	<string>mark1-18e1b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:243771858170:ios:c0d8615510bb247de13d43</string>
</dict>
</plist>